* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.elemento {
  width: calc((100% - (3 * 10px)) / 4);
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elemento p {
  color: white;
}
